<div class="d-flex flex-column h-100">
    <app-tg-header></app-tg-header>
    <div class="row w-100 m-0 flex-grow-1 overflow-auto">
      <div class="menu col-sm-4 p-0 offcanvas-sm bg-light h-100">
        <p>About Me</p>
        
      </div>
      <div class="col-sm-8 p-0 d-flex flex-column h-100">
        <div class="flex-grow-1 d-flex flex-column-reverse overflow-auto">
            <app-tg-message author="John" login="john_doe" message="Lorem ipsum..."></app-tg-message>
            <app-tg-message author="Anna" login="anna_b" message="Message 2..."></app-tg-message>
            <app-tg-message author="Paul" login="paul" message="This is a very very very very very very very very very very long long long long long message"></app-tg-message>
            <app-tg-message author="Richard" login="rich_ard" message="Another message"></app-tg-message>
            <app-tg-message author="Sandy" login="sandynewman" message="This is last, but the first one..."></app-tg-message>
        </div>
        <div class="bg-primary">
            <p>working</p>
        </div>
      </div>
    </div>
  </div>