<div class="d-flex flex-column h-100">
  <app-tg-header [showMenuButton]="true"></app-tg-header>

  <div class="row w-100 m-0 flex-grow-1 overflow-auto">
    <!-- menu lateral -->
    <div class="offcanvas-sm offcanvas-start border-end col-sm-4 p-0" id="menu">
      <div class="menu-conteudo">
        <h3 class="border-bottom p-3">Usuários</h3>
        <ul class="list-group list-group-flush p-3">

          <!-- usuario -->
          <ng-template ngFor let-usuario [ngForOf]="usuarios | keyvalue">
            <li class="d-flex list-group-item p-0" style="background: none;" *ngIf="usuario.value.login != usuarioLoginAtual">
              <div class="profile-picture">
                <img class="rounded-circle m-2" style="width: 3em;" src="assets/avatar.png" alt="{{ usuario.value.login }}">
              </div>
              <div class="flex-grow-1">
                <div class="text-truncate" [style]="{ color: usuario.value.corPrimaria }">{{ usuario.value.nome }}</div>
                <div class="text-secondary" style="font-size: .8em;">@{{ usuario.value.login }}</div>
                <div class="status text-success" style="font-size: .7em; font-weight: bold;">online</div>
              </div>
            </li>
          </ng-template>
        </ul>

        <div class="d-flex border-top" (click)="visualizarPerfil()">
          <div class="profile-picture">
            <img class="rounded-circle m-2" style="width: 3em;" src="assets/avatar.png" alt="{{ usuarioLoginAtual }}">
          </div>
          <div class="flex-grow-1">
            <!--
            <div class="text-truncate" [style]="{ color: usuario.value.corPrimaria }">{{ usuario.value.nome }}</div>
            -->
            <div class="text-secondary" style="font-size: .8em;">@{{ usuarioLoginAtual }}</div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-8 p-0 d-flex flex-column h-100">
      <!-- area de mensagens -->
      <div class="flex-grow-1 d-flex flex-column-reverse overflow-auto">
        <ng-template ngFor let-msg [ngForOf]="mensagens">
          <app-tg-message
            [author]="msg.autor?.nome || ''"
            [login]="msg.autor?.login || ''"
            [content]="msg.conteudo"
            [date]="msg.dataEnvio.substr(0, 10)"
            [time]="msg.dataEnvio.substr(11, 5)"
            [alignment]="msg.autor?.login == usuarioLoginAtual ? 'right' : 'left'"
            [bgColor]="msg.autor?.corSecundaria || 'blue'"
            [titleColor]="msg.autor?.corPrimaria || 'blue'"></app-tg-message>
        </ng-template>
      </div>

      <!-- area de envio de mensagens -->
      <div class="text-bg-secondary bg-opacity-25 p-2">
        <form [formGroup]="formEnvio" (ngSubmit)="enviarMensagem()">
          <div class="input-group">
            <input type="text" class="form-control" formControlName="mensagem" placeholder="Escreva sua mensagem">
            <button class="btn btn-primary" type="submit">
              <i class="fa fa-paper-plane"></i>
            </button>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>